.featured .movies {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.featured .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featured .card img {
    width: 100%;
    height: 350px;
}
